*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body{
  font-family: 'Pacifico', cursive;
  font-size: 1.7rem;
  background-image: linear-gradient(to right, #00ff40 0%, #0040ff 25%, #ffff00 50%, #3d5c5c 75%, #ff1a75 100%);
  color: #fff;
  padding: 4rem;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.nav h2{
  font-size: 3.5rem;
}
.user-input{
  width: 40%;
  text-align: center;
}
.user-input input{
  outline: none;
  width: 50%;
  padding: .8rem .5rem;
  border-radius: 6px;
  color: #454545;
  transition: all .2s ease-in;
}
.user-input input:focus{
  width: 75%;
  border: .3rem solid #00ff40;
}
.user-input button{
outline: none;
background-color: #eee;
border-radius: .5rem;
padding: .8rem .5rem
}
.completed{
  background-color: green;
  padding: 3rem;
  margin-top: 5rem;
}
.pending{
  background-color: #0040ff;
  padding: 3rem;
  margin-top: 3rem;
}
.task{
    border-bottom: 1px solid #454545;
}
.put-popup{
  color: #454545;
  z-index: 800;
  background-color: rgba(255, 255, 255, 0.8);
  width: 50%;
  position: fixed;
  top: 25%;
  left: 25%;
  border-radius: 15px;
  text-align: center;
  padding: 3rem;
  display: none;
}
.popup-input{
  width: 80%;
  height: 3.5rem;
  margin: 1rem;
  border-radius: 4px;
  border: none;
  padding: .8rem;
}
.popup-input:focus{
  border: 2px solid #00ff40;
  outline: none;
}
.popup-button{
  padding: .7rem;
  background-color: #00ff40;
  border-radius: 8px;
  transition: .3s ease-in;
}
.close-popup{
  background-color: #eee;
  position: absolute;
  right: 2rem;
  top: 1rem;
  padding: 0 .4rem;
  border-radius: 6px;
}
.close-popup:hover{
  color: #fff;
  background-color: #454545;
  cursor: pointer;
}
.update-text:hover{
  color: #00ff40;
  cursor: pointer;
}
